
@import url(https://fonts.googleapis.com/css?family=Lora:400,700,400italic|Montserrat);

body {
  background-color: #E9DCCD;
}

h1, h2, h3, h4 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  transition: all 0.25s  ease-in-out;   
}

h3 {
  font-size: 1.4em;
}



p, ul, li  {
    font-family: 'Lora', serif;
    font-size: 1.2em;
}

ul, li {
  font-size: 16.8px; /*manual correction bc bootstrap*/
}

p.lead {
  font-size: ;
}

blockquote {
  font-family: 'Lora', serif;
  font-style: italic;
  font-size: 1.8em;
  border-left: 0px;
  padding: 0px;
  text-align: center;
}

.row {
  margin-top: 20px;
  margin-bottom: 30px;
}

.content-container {
  border-top: 10px solid #36384C;
}

.col-md-8.last {
  border-bottom: 10px solid #36384C;
  padding-bottom: 50px;
}

.project-block {
  padding: 15px;
  margin-top: 70px;
  transition: all 0.25s  ease-in-out; 
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}

.project-text {
  width: 90%;
  float: left;
}

.project-block .arrow, .project-link .arrow  {
  width: 10%;
  transition: all 0.25s  ease-in-out; 
}

.project-block:hover > .arrow, .project-link:hover .arrow {
  transform:translateX(10px);
  color: #8a0f2c;
}

.project-block .arrow .glyphicon {
  padding-left: 30px;
  font-size: 3em;
}

.project-block p {
  font-size: 1.2em;
}

a.project-link {
  text-decoration: none;
  color: #333333;
  transition: all 0.25s  ease-in-out; 
}

a.project-link h3, .project-block a, ul a, li a, .header-block a {
  color: #849974;
}

ul a:hover, li a:hover, .header-block a:hover  {
    color: #8a0f2c;
    transition: all 0.25s  ease-in-out; 
    text-decoration: none;

}

a.project-link .project-block:hover, a.project-link:hover {
  background-color: #e0cdb8;
}

a.project-link .project-block:hover h3, .multiple a.project-link:hover  {
  color: #8a0f2c;
}

.multiple .multilink {
  width: 40%;
  padding: 15px;
}

.multiple a.project-link {
  padding: 15px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}


.project-block .project-link {
  display: table;
  width: 100%;
  height: 75px;
}

.project-link .link-text {
  display: inline-block;
  width: 85%;
}

.project-block .project-link span {
  display: table-cell;
  vertical-align: middle;
}

.project-block .project-link span.glyphicon {
  text-align: right;
}

.etc {
  padding-top: 40px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.etc a {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: #849974;
}

.etc a:hover  {
  color: #8a0f2c;
  background-color: #E9DCCD;

}

.me {
  padding: 15px;
}


@media only screen and (max-width : 768px) {

  p { font-size: 1.0em; 

  }

  blockquote {
    font-size: 1.4em;
  }

  .project-block p {
  font-size: 0.8em;
  }

  .project-block {
    padding: 15px;
    margin-top: 45px;
    transition: all 0.25s  ease-in-out; 

  }

  .project-block .project-text {
    width: 80%;
    float: left;
  }

  .project-block .arrow {
    width: 10%;
  }

  .project-block .arrow .glyphicon {
    font-size: 2em;
  }

  .project-block:hover > .arrow, .project-link:hover .arrow {
    transform:translateX(0px);

  }

  .multiple {
    width: 100%;
    display: block;

  }

  .multiple .project-text {
    width: 100%;
  }

  .multiple .multilink {
    width: 100%;
    padding: 15px;
  }

  .etc {
    display: block;
  }

  .etc a {
    display: block;
  }

}

.margin-top {
  margin-top: 70px;
}


.carousel {
  max-width: 966px;
  margin-top: 70px;
}

#carousel-sfu {
  max-width: 1170px;
}

.carousel-inner .item {
  background-color: #e0cdb8;
  padding: 20px;
}
.carousel-indicators {
  top:-30px;
  left:0;
  width:auto;
  margin-left:0;
  color:#fff;
}
.carousel-indicators li {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  border-radius:100%;
  width:25px;
  height:25px;
  padding:0 8px;
  line-height: 23px;
  background:#e0cdb8;
  color:#333333;
  border:none;
  text-indent:0;
}
.carousel-indicators li.active {
  width:25px;
  height:25px;
  line-height: 25px;
  color:#fff; 
  background:#8a0f2c;
  border-color:none;
}






